.from_warrper {
    background-color: #FFFFFF;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;

    h2 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #262626;
    }

    p {
        font-family: Poppins;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #262626;
    }

    .nav {
        .btn_flag1 {
            background-color: transparent !important;
            border: 1px solid #D97706;
            color: #262626 !important;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;

            &.active{
               background-color: #FDE68A !important; 
            }
        }

        .btn_flag2 {
            @extend.btn_flag1
        }
    }

    .from_main_inp {
        label {
            font-family: Poppins;
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #262626;
        }

        input {
            &::placeholder {


                border-radius: 5px;
                font-family: Poppins;
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #262626;

            }
        }

        select {
            font-family: Poppins;
            font-weight: 300;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #262626;
        }

        textarea {
            &::placeholder {
                border-radius: 5px;
                font-family: Poppins;
                font-weight: 300;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                color: #262626;

            }
        }

    }


}