.header-wrapper {
 position: fixed;
 top: 0;
 z-index: 111;
 width: 100%;
    header {
        background-color: #171717;

        nav {
            ul {
                li {
                    a {

                        i {
                            margin-right: 5px;
                            font-size: 15px;
                            color: #ffff;

                        }

                        p {
                            color: #ffff;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 100%;
                            font-family: Poppins;
                            

                        }
                        :hover{
                            color: #545454;
                       }
                    }
                }
            }

            .nav_profile {
                background-color: #ffff;
                padding: 5px;
                margin: 6px 10px 6px 6px;

                p {
                    margin: 0px 10px 0px 10px;
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;

                }
            }
        }
    }



}