
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

.add_new_post_wrapper {
  height: fit-content;
display: flex;
flex-direction: column;
margin-left: 260px !important;
padding: 0px !important;


}
.main_add{
  background-color: white;
.add {
  text-align: center;
  padding: 28px;
 
 }
}



.add h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 0;
  letter-spacing: 0%;
}

.add h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 0;
  letter-spacing: 3%;
  margin-left: 25px;
}

.add h2 i {
  margin-right: 10px;
}
.main_add{
  position: relative;

}
.data_add{
  position: relative;

}
.search_box {
  position: relative;
  display: flex;
  justify-content: end;
 padding: 28px;

}

.search_box input {
    height: 44px;
   padding: 10px 130px 10px 10px;
   border-radius: 5px;
   outline: none;
   border: 1px solid #D4D4D4;
}

.search_box::after {
  content: "\f002"; 
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900; 
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
@media screen and (max-width:768px){
  .add_new_post_wrapper{
        margin-left: 0px !important;

    }
    .add h1{
        font-size: 15px;
    }
    .add h2{
        font-size: 10px;
    }
    .add{
        flex-wrap: wrap;
    }
    .search_box input {
        
margin-top: 10px;
padding: 10px 100px 10px 10px;
    }
.search_box::after {
    top: 60%;
}

    
}
.data_add{
    position: absolute;
    margin-left: 260px !important;
    color: red;

}
