$primary-color:red;
$secondary-color:green;

$text-color-primary:#dadada;
$text-color-secondary:#646161;


$primary-font:'Poppins';

$fs-xs:12px;
$fs-s:14px;
$fs-r:16px;
$fs-md:18px;
$fs-l:22px;
$fs-xl:26px;

$fw-l:300;
$fw-r:400;
$fw-md:600;
$fw-b:700;
$fw-eb:900;


$var1:"x";